<!doctype html>
<html lang="en" style="margin: 0; height: 100%;">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap-grid.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap-reboot.css" rel="stylesheet" type="text/css"/>
        <link href="css/responsive.css" rel="stylesheet" type="text/css"/>
        <link href="css/custom.css" rel="stylesheet" type="text/css"/>
        <title>Brad Woodlief | {% block subtitle %}Home{% endblock subtitle %}</title>
    {% endblock head %}
</head>

<body style="
        margin: 0;
        height: 100%;
        background-image: url('{% block backgroundUrl %}img/home_background.jpg{% endblock backgroundUrl %}');
        background-color: #fff;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position-x: center;
        background-position-y: top;">

<div id="header" style="width: 100%" class="sticky-top">
    <header class="text-center text-white" style="margin:0">
        {% block header %}
            {% if success %}
                <script> alert('Email was successfully sent!');</script>
            {% endif %}
        {% endblock header %}
    </header>
</div>
<main>
    {% block content %}
        <div class="container text-center text-white" style="margin-top: 5px">
            <span class="#" style="font-size: 9vw">Brad Woodlief</span>
            <div class="container" style="height:1px; background: #fff; border-bottom: 1px solid #fff"></div>
            <span class="#" style="font-size: 5vw; line-height: 1em">In-Depth Studies &</br>
                Global Service Network</span>
        </div>

    {% endblock content %}
</main>
{% block footer %}
    <div class="container">
        <div class="row nav-tabs fixed-bottom" style="border-bottom: 0px">
            <div class="col text-center">
                <a {% if welcome_selected %}class="nav-link text-muted" {% else %}class="nav-link text-white"{% endif %}
                   href="{{ siteUrl('/welcome') }}"><strong>Welcome</strong></a>
            </div>
            <div class="col text-center">
                <a {% if links_selected %}class="nav-link active" {% else %}class="nav-link text-white"{% endif %}
                   href="{{ siteUrl('/links') }}"><strong>Links</strong></a>
            </div>
            <div class="w-100 hidden-sm-up"></div>
            <div class="col text-center">
                <a {% if donations_selected %}class="nav-link active" {% else %}class="nav-link text-white"{% endif %}
                   href="{{ siteUrl('/donations') }}"><strong>Donations</strong></a>
            </div>
            <div class="col text-center">
                <a {% if contact_selected %}class="nav-link active" {% else %}class="nav-link text-white"{% endif %}
                   href="{{ siteUrl('/contact') }}"><strong>Contact</strong></a>
            </div>
            <div class="text-white fixed-center" style="background-color: gray; width: 100%">
                <footer style="text-align:center">
                    <span>© 2017 Brad Woodlief</span>
                </footer>
            </div>
        </div>
    </div>
{% endblock footer %}

</body>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="js/bootstrap.js"></script>
<script type="text/javascript">
    $(window).on('scroll',function(){

        if ($(window).scrollTop() > 1) {
            $('#header').addClass("scrolledBG");
        } else {
            $('#header').removeClass("scrolledBG");
        }
    });
</script>
{% block scripts %}

{% endblock %}
</html>