{% extends 'main.twig' %}

{% block subtitle %}Links{% endblock subtitle %}

{% block backgroundUrl %}img/home_background.jpg{% endblock backgroundUrl %}


    {% set links_selected = true %}

{% block content %}
<div class="container text-justify text-white">
       <div class="container" style="height:1px; background: #fff; border-bottom: 1px solid #fff"></div>
    <p>Here are some links, dawg</p>
</div>

{% endblock content %}
